

<div class="about-us ">
  <br>
  <h1 class="display-2">ABOUT US</h1>
  <br>
  
  <br>
  <p class="about-p">Club Hub Kids (CHK) is a great resource for every family within the greater Sacramento area. Our main priority as developers of CHK is to create a hub of resources for parents to help kids hone in their skills with fun events for all ages. Many of our events can range from arts, music, sports, dance, summer/ winter camps  and tutoring. Our website is meant to make life easier for the parents, as raising children is one of life's most challenging and rewarding endeavors.
<br>

<br>
  Club Hub Kids was developed by parents with first-hand knowledge and experience in helping children reach their full potential. For every phase of parenthood, from birth through highschool we offer compelling resources on a wide variety of family-friendly events, we are very proud of our resource library. If you cannot see a specific event within your area, family members can submit an event, which will be overlooked by our developers and we will try and implement that event with information into our resource library for everyone to enjoy. 
<br>
<br>
  We greatly appreciate everyone who visits our site, we are truly glad you are confident to use our resources for your family activities. Do not forget to come back often  as we will be updating our library of events monthly and weekly. Thank you for visiting!!

  </p>
  <h1>Website Developers</h1>
  <img src="/images/nelly.jpg" alt="dev"> <p>Robert Nelson</p>

  <img src="/images/maggie.jpg" alt="dev"> <p>Maggie Finnegan</p>

  <img src="/images/neda.jpg" alt="dev"> <p>Neda Parvini</p>

  <img src="/images/john.png" alt="dev"> <p>John Enriquez Perez</p>
</div>