    <!--Add Striped Border-->
        <br><h2 class="striped-border"></h2><br>
            <ol class="course-list">
            {{#each course as |course|}}
                <li>
                    {{> </course-info> course }}
                </li>
            {{/each}}
            </ol>
    <br>
    <!--Add Striped Border-->
    <h2 class="striped-border"></h2>