<!--Add Striped Border-->
        <br><h2 class="striped-border"></h2><br>
<section class="section is-medium">
        <div class="row">
            <div class="column col-3" >
                <a href="http://localhost:3001/featured">
                <div class="card-image">
                    <p><Main>Featured</Main></p>
                    <figure class="image is-4by3">
                        <img src="./images/logo.jpg" alt="FEATURED" title="FEATURED">
                    </figure>
                </div>
                </a>
            </div>
            <div class="column col-3" >
                <div class="card-image">
                    <p><Main>Arts</Main></p>
                    <figure class="image is-4by3">
                        <img src="./images/watercolors.jpg" alt="ARTS" title="ARTS">
                    </figure>
                </div>
            </div>
            <div class="column col-3">
                <div class="card-image">
                    <p><Main>Sports</Main></p>
                    <figure class="image is-3by2">
                        <img src="./images/basketball.jpg" alt="SPORTS" title="SPORTS">
                    </figure>
                </div>
            </div>

            <div class="column col-3" >
                <div class="card-image">
                    <p><Main>Music</Main></p>
                    <figure class="image is-3by2">
                        <img src="./images/piano.jpg" alt="MUSIC" title="MUSIC">
                    </figure>
                </div>
            </div>    
                <div class="column col-3" >
                    <div class="card-image">
                        <p><Main>STEM</Main></p>
                        <figure class="image is-3by2">
                            <img src="./images/STEM.jpg" alt="STEM" title="STEM">
                        </figure>
                    </div>
                </div>
                <div class="column col-3" >
                    <div class="card-image">
                        <p><Main>Dance</Main></p>
                        <figure class="image is-3by2">
                            <img src="./images/ballet.jpg" alt="DANCE" title="DANCE">
                        </figure>
                    </div>
                </div>
                <div class="column col-3" >
                    <div class="card-image">
                        <p><Main>Tutoring</Main></p>
                        <figure class="image is-3by2">
                            <img src="./images/tutoring1.jpg" alt="TUTORING" title="TUTORING">
                        </figure>
                    </div>
                </div>
                <div class="column col-3" >
                    <div class="card-image">
                        <p><Main>Summer/ Winter Camps</Main></p>
                        <figure class="image is-3by2">
                            <img src="./images/summercamps.jpg" alt="SUMMER/WINTER CAMPS" title="SUMMER/WINTER CAMPS">
                        </figure>
                    </div>
                </div>
                <div class="column col-3" >
                    <div class="card-image">
                        <p><Main>Child Care</Main></p>
                        <figure class="image is-3by2">
                            <img src="./images/arts.jpg" alt="CHILD CARE" title="CHILD CARE">
                        </figure>
                    </div>
                </div>
            </div>    
        </div>
    </section>
    <br>
    <!--Add Striped Border-->
    <h2 class="striped-border"></h2>

    
    