<div class="container row">
  <div class="jumbotron col-sm-4 pull-center">
    <form class="login-form" action="/login" method="POST">
      <div>
        <label>email:</label>
        <input type="text" name="email" id="email-login" />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" id="password-login" />
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Log In" />
      </div>
    </form>
  </div>
</div>

