<div class="card-form-container">
  <form class="form-container" action="" method="POST">
    <div>
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />

      <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit" class="formbutton">login</button>
      </div>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>
