
<div class="card-form-container">
<form class="form-container">
  <div class="email-field">
    <input type="text" id="email-login" placeholder="Enter email:"/>
  </div>
  <div class="password-field">
    <input type="password" id="password-login" placeholder= "Enter password:"/>
  </div>
  <div class="submit-button">
    <button class="form-button" type="submit">login</button>
  </div>
  <a href="/signup">New Member Signup</a>
</form>
</div>
<script src="/javascript/login.js"></script>
