    <!--Add Striped Border-->
        <br><h2 class="striped-border"></h2><br>
            <h2>Featured Classes:</h2>
            <div class="container class-container">
                <div class="row">
                    <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Gymboree Play and Music</h5>
                    <h6 class="card-subtitle mb-2 text-muted">          
                            <p>Category: Music</p>
                            <p>Location: Citrus Heights</p>
                            <p>Ages: Infant/Toddler, Preschool</p></h6>
                            <p class="card-text">Gymboree Play and Music has been fostering creativity and confidence in children ages 0-5 for over 30 years. Today there are over 550 locations in 30 countries, making us the global leader in early childhood development programs.</p>
                            <a class="btn btn-primary" href="http://gymboreeclasses.com/" role="button">View Website</a>
                        </div>
                    </div>
                    <div class = "card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                        Fancy Feet Dance Academy & Parties
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <p>Category: Dance</p>
                            <p>Location: Sacramento</p>
                            <p>Infant/Toddler, Preschool, Elementary, Middle, High</p>
                            </h6>
                            <p class="card-text">Fancy Feet Dance Academy is an environment where ages 18 Months- teens can express and grow through music and dance. The studio provides both a competitive and non-competitive environment where dancers are encouraged to open their minds and hearts to dance.</p>
                            <a class="btn btn-primary" href=""https://www.fancyfeetdance.net/"" role="button">View Website</a>
                        </div>
                    </div>

                      <div class = "card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                        Club Z Tutoring
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <p class="card-text"></p>
                            <p>Category: Tutoring</p>
                            <p>Location: Elk Grove</p>
                            <p>Ages: Elementary, Middle, High</p>
                            </h6>
                            <p class="card-text">Since 2001, Club Z! Tutoring has provided in-home tutoring to over 30,000 students in the Sacramento and Elk Grove area helping them achieve 2 grades of improvement. We have great tutors with background checks and experience that re passionate about education. Our services are individualized to every students’ needs—we reach them at their level.</p>
                            <a class="btn btn-primary" href="#" role="button">View Website</a>
                        </div>
                    </div>

                      <div class = "card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                        3D Bear
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <p>Category: STEM</p>
                            <p>Location: Online</p>
                            <p>Ages: Preschool, Elementary, Middle, High</p>
                            </h6>
                            <p class="card-text">Our mission is to help educators create an environment in which students can learn life-skills that will make them successful in the 21st century – to elicit collaboration, improve multidisciplinary skills, develop a growth mindset and creative problem solving. We empower students to become active innovators and influencers who take initiative with confidence.</p>
                            <a class="btn btn-primary" href="#" role="button">View Website</a>
                        </div>
                    </div>

                      <div class = "card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                        Aikido and Healing Arts of Roseville
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <p>Category: Sports</p>
                            <p>Location: Roseville</p>
                            <p>Elementary, Middle, High School</p>
                            </h6>
                            <p class="card-text"></p>Aikido does not rely on athleticism, or size, or weight, or speed, or reach and can be applied by adults and children alike. In fact, our kids classes are open up to adults so that families can learn together.</p>
                            <a class="btn btn-primary" href="http://rosevilleaikidocenter.com/main/" role="button">View Website</a>
                        </div>
                    </div>

                      <div class = "card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                        Code Ninjas
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <p>Category: STEM, Summer/Winter Camps</p>
                            <p>Location: Elk Grove</p>
                            <p>Elementary, Middle, High</p>
                            </h6>
                            <p class="card-text">Transform your child’s love for technology into an exciting learning adventure. Guided by their team of Code Senseis, Code Ninjas Summer Camps empower kids to gain valuable tech skills and make new friends.</p>
                            <a class="btn btn-primary" href="#" role="button">View Website</a>
                        </div>
                    </div>

                      <div class = "card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                        Hi 5 Taekwondo
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <p>Category: Sports</p>
                            <p>Location: El Dorado Hills</p>
                            <p>Ages: Elementary, Middle, High</p>
                            </h6>
                            <p class="card-text"></p>No other martial art is more scientific or systemized than Taekwondo. Hi5 TKD is governed by the World Taekwondo Federation, Kukkiwon and Koryo Taekwondo Association.</p>
                            <a class="btn btn-primary" href="#" role="button">View Website</a>
                        </div>
                    </div>

                      <div class = "card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                        ArtBeast Childrens Studio
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <p>Category: Art, Music, Dance, Summer/Winter Camps</p>
                            <p>Location: Sacramento</p>
                            <p>Infant/Toddler, Preschool, Elementary</p>
                            </h6>
                            <p class="card-text">ArtBeast is a drop in arts exploration space for children featuring an open studio, arts classes, and arts exploration rooms. Though all children are welcome to visit ArtBeast, special focus is given to creating an environment for children under 6.</p>
                            <a class="btn btn-primary" href=""https://www.artbeaststudio.com/school-age-program"" role="button">>View Website</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    <br>
    <!--Add Striped Border-->
    <h2 class="striped-border"></h2>