<div class ="card-form-container">
<form class="form-container">
  <div class="form-fields">
    <input type="text" id="username-signup" placeholder="Enter username :" />
  </div>
  <div class="email-field">
    <input type="text" id="email-signup" placeholder="Enter email :"/>
  </div>
  <div class="password-field">
    <input type="password" id="password-signup" placeholder="Enter password :" />
  </div>
  <div class="signup-button">
    <button class="form-button"type="submit">signup</button>
  </div>
  <a href="/login">Already a Member?</a>
</form>
</div>
</div>
<script src="/javascript/signup.js"></script>





