<div class="container row">
  <div class="jumbotron col-sm-4 pull-center">
    <form  class= "signup-form" action="/signup" method="POST">
      <div>
        <label>Username:</label>
        <input type="text" name="username" id="username-signup"/>
      </div>
      <div>
        <label>Email:</label>
        <input type="text" name="email" id="email-signup"/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" id="password-signup"/>
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Sign Up"/>
      </div>
    </form>
  </div>
</div>


